<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Cupidatat culpa excepteur elit consequat cupidatat in. Enim sit officia
    commodo ipsum tempor deserunt duis proident nostrud. Sit occaecat quis nisi
    veniam mollit. Aliqua Lorem nulla occaecat nulla laboris et Lorem ea ea.
    Reprehenderit tempor voluptate sint nisi dolore minim minim dolore.
    Reprehenderit non proident ut aute duis. Laborum laboris irure deserunt ea
    aute cupidatat do ut.
  </p>
</section>
